.form-control {
	width: 100%;
	margin-bottom: 15px;
	font-size: $body-font-size;
	font-family: $body-font;
	padding: 7px 15px;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	@include transition(all, 0.15s, linear, 0s);
	border-radius: 2px;
	&:hover,
	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
	}
}
