@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: './fonts/' !default;
$slick-font-family: 'Roboto' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: white !default;

$slick-dot-color: #ffffff !default;
$slick-dot-color-active: #ffffff !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;

$slick-dot-character: '\2022' !default;
$slick-dot-size: 50px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	} @else {
		@return url($slick-loader-path+$url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	} @else {
		@return url($slick-font-path+$url);
	}
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff url('/themes/galiltec/assets/images/icons/spinner.gif')
			center center no-repeat;
	}
}
.slick-slide {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

/* Icons */
@if $slick-font-family == 'slick' {
	@font-face {
		font-family: 'slick';
		src: slick-font-url('slick.eot');
		src: slick-font-url('slick.eot?#iefix') format('embedded-opentype'),
			slick-font-url('slick.woff') format('woff'),
			slick-font-url('slick.ttf') format('truetype'),
			slick-font-url('slick.svg#slick') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

.slick-prev,
.slick-next {
	position: absolute;
	z-index: 500;
	display: block;
	line-height: 0px;
	font-size: 50px !important;
	cursor: pointer;
	background: transparent;
	color: #fff;
	opacity: 0.75;
	bottom: 0;
	padding: 0;
	border: none;
	outline: none;

	&:hover,
	&:focus {
		color: #fff;
		opacity: 1;
	}
}

.slick-prev {
	left: 15%;
	@include rotate(180deg);
}

.slick-next {
	right: 15%;
}
/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 15px 0 0 0;
	width: auto;
	white-space: nowrap;
	@include transition(all, 0.75s, linear, 0s);
	li {
		display: inline-block;
		height: 25px;
		width: 25px;
		margin: 0 10px;
		padding: 0;
		cursor: pointer;
		button {
			border: 1px solid $font-color-dark;
			background: transparent;
			display: block;
			height: 25px;
			width: 25px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover,
			&:focus {
				outline: none;
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
		}
		&.slick-active {
			button {
				background: $main-color;
				border-color: $main-color;
			}
		}
	}
}
